{% extends "base.html" %}

{% block title %}
  Web Controller
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    .joysticks {
      box-sizing: border-box;
      padding: 40px;
      display: flex;
      justify-content: space-between;
    }
  </style>
{% endblock %}

{% block main %}
  <img src="video.mjpg" class="background-video"></img>
  <div class="joysticks">
    <joystick-component
      onmove="publish({ type: 'left_joystick', data })"
      onend="publish({ type: 'left_joystick', data })"
    > </joystick-component>

    <joystick-component
      onmove="publish({ type: 'right_joystick', data })"
      onend="publish({ type: 'right_joystick', data })"
    ></joystick-component>
  </div>
{% endblock %}
