*.py[cdo]

# Python artifacts
__pycache__

# Editor detritus
*.vim
*.sw*
tags
.idea
.vscode

# Packaging detritus
*.egg
*.eggs
*.egg-info
dist
.pybuild
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
Pipfile
Pipfile.lock

# Unit test / coverage reports
coverage
*.xml
.coverage*
.tox
.cache
.pytest_cache

.DS_Store

# Debian patching
.pc/
