# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    # debian/patches needs whitespace at end of line
    # - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-symlinks
    - id: check-added-large-files

-   repo: https://github.com/myint/docformatter
    rev: v1.4
    hooks:
    - id: docformatter

-   repo: https://github.com/myint/rstcheck
    rev: '3f92957478422df87bd730abde66f089cc1ee19b'
    hooks:
    - id: rstcheck
      args: [
        "--report", "warning",
        "--ignore-roles", "class",
        "--ignore-directives", "autoclass,automodule",
      ]

-   repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
    - id: isort

-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
    - id: black

-   repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    - id: flake8

# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.910
#     hooks:
#     -   id: mypy
#         additional_dependencies: [types-all]
