include pitop/robotics/json/*.json
include pitop/miniscreen/images/*.gif
recursive-include pitop/labs/web/blueprints/**/*.html
recursive-include pitop/labs/web/blueprints/**/*.js
recursive-include pitop/labs/web/blueprints/**/*.css
