[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parameterized = "*"
dlib = "*"
gpiozero = "*"
imutils = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
scipy = "*"
wget = "*"
Flask = "*"
Flask-Sockets = "*"
Flask-Cors = "*"
Pillow = "*"
sphinx = "*"
netifaces = "*"
isc-dhcp-leases = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
# apt install cmake python3-onnx / python3-onnxruntime
pytest-xdist = "*"
