# Test framework deps
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
# Dependencies
dlib
gpiozero
imutils
isc_dhcp_leases
matplotlib
numpy
netifaces
onnxruntime
opencv-python
flask
flask_sockets
flask_cors
Pillow
scipy
wget
