# Test framework deps
imgcat
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-snapshot
pytest-xdist
# Dependencies
dlib
flask
flask_sockets
flask_cors
gpiozero
imutils
isc_dhcp_leases
matplotlib
Mock.GPIO
numpy
netifaces
onnxruntime
opencv-python
pygame
Pillow
scipy
wget
