# Test framework deps
imgcat
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-snapshot
pytest-timeout
pytest-xdist
# Dependencies
Pillow>=10.3.0,<11.0
dlib>=19.22.0,<20.0.0
flask-cors>=3.0.9,<4.0.0
flask>=1.1.2,<2.0.0
gpiozero>=1.6.2,<2.0.0
imutils>=0.5.4,<1.0.0
isc_dhcp_leases>=0.9.1,<1.0.0
matplotlib>=3.3.4,<4.0
netifaces>=0.10.4,<1.0.0
numpy>1.19.5,<2.0.0
onnxruntime>=1.8.1,<2.0
opencv-python>=4.5.1,<5.0.0
pygame>=2.1.2
pyserial>=3.5,<4.0
scipy>=1.6.0,<2.0
wget>=3.2,<4.0
