[Desktop Entry]
Type=Application
Version=1.0
Name=pi-top [4] Components
Comment=Link to pi-top Maker Architecture documentation
TryExec=/usr/bin/x-www-browser
Exec=x-www-browser file:///usr/share/doc/python3-pt-pma/html/index.html
Icon=dictionary
Terminal=false
Categories=PiTopFourDocs;
