Source: pi-top-python-sdk
Section: python
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 dh-sequence-sphinxdoc,
# Required by pybuild
 python3-all,
 python3-setuptools,
 python3-sphinx-rtd-theme,
# GPIO Zero is required for importing the libraries in the docs
 python3-gpiozero,
Standards-Version: 4.5.1
Homepage: https://pi-top.com

Package: python3-pitop-full
Architecture: all
Depends:
 ${misc:Depends},
# Emojis used in emotion recipe
 fonts-symbola,
 python3-pitop-battery (= ${binary:Version}),
 python3-pitop-camera (= ${binary:Version}),
 python3-pitop-cli (= ${binary:Version}),
 python3-pitop-common (= ${binary:Version}),
 python3-pitop-core (= ${binary:Version}),
 python3-pitop-display (= ${binary:Version}),
 python3-pitop-keyboard (= ${binary:Version}),
 python3-pitop-miniscreen (= ${binary:Version}),
 python3-pitop (= ${binary:Version}),
 python3-pitop-pma (= ${binary:Version}),
 python3-pitop-processing (= ${binary:Version}),
 python3-pitop-robotics (= ${binary:Version}),
 python3-pitop-system (= ${binary:Version}),
 python3-pitop-virtual-hardware (= ${binary:Version}),
 python3-onnxruntime,
 libopenblas-dev,
# Required for face detection & emotion mapping
 liblapack-dev,
 libatlas-base-dev,
Recommends:
 python3-pitop-doc (= ${source:Version}),
Description: pi-top Python 3 Library - Complete
 General purpose Python library for controlling a pi-top.
 .
 This is a top-level dummy package which will install all of the required
 components for full pi-top support.

Package: python3-pitop
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Suggests:
# pi-top [4] miniscreen menu is optional, but useful for [4] users
 pt-miniscreen | pt-sys-oled,
# Other SDK packages
 python3-pitop-doc (= ${source:Version}),
 python3-pitop-full,
Description: pi-top Python 3 Library - Main
 General purpose Python library for controlling a pi-top.
 .
 This is the main Python library part of the package.


Package: python3-pitop-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${sphinxdoc:Depends},
Suggests:
 python3-pitop,
Built-Using:
 ${sphinxdoc:Built-Using},
Description: pi-top Python 3 Library - Documentation and Examples
 General purpose Python library for controlling a pi-top.
 .
 This is the documentation part of the package.


Package: python3-pitop-miniscreen
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Fonts
 fonts-roboto,
 ttf-bitstream-vera,
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Main
 Python library for controlling the pi-top miniscreen
 .
 Includes utilities to interact with the miniscreen OLED and buttons.


Package: python3-pitop-battery
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Battery
 Python library for interacting with the battery of a pi-top.
 .
 Allows users to monitor the pi-top battery and subscribe to events.


Package: python3-pitop-camera
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Camera
 Python library for controlling the pi-top camera.
 .
 Allows users to control the pi-top camera for taking pictures and
 recording videos.


Package: python3-pitop-cli
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 raspi-config,
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - CLI
 General purpose CLI to interact with a pi-top.
 .
 Provides several commands to learn about the pi-top and peripherals
 attached to it.


Package: python3-pitop-common
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# 'arping' command
 arping,
 i2c-tools-extra,
# 'ping' command
 iputils-ping,
# ZMQ for messaging
 python3-zmq,
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Suggests:
# Required for OS notifications
 notify-send-ng,
# Required to get state about Access Point mode
 wifi-ap-sta,
Description: pi-top Python 3 Library - Common
 General purpose Python library to interact with a pi-top.
 .
 This is a set of common utilities used in the pi-top codebase.


Package: python3-pitop-core
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Core
 General purpose Python library to interact with a pi-top.
 .
 This is library provides a set of mixins, image processing functions and
 other helpers used in the SDK.


Package: python3-pitop-display
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Display
 Python library for interacting with a pi-top display.
 .
 Allows users to monitor the pi-top display and subscribe to events.


Package: python3-pitop-keyboard
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Keyboard
 Keyboard simulator tool.
 .
 Provides a class to simulate a button press similar to the button in
 gpiozero but using the users keyboard.


Package: python3-pitop-pma
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - PMA
 Python library for interacting with PMA Components.
 .
 Provides several interfaces to interact with PMA (pi-top Maker Architecture)
 components, such as LEDs, Buttons, Motors, among others.


Package: python3-pitop-processing
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Processing
 Python library that provides a set of image processing algorithms.
 .
 These algorithms are meant to be used by robots created using the
 pi-top Robotics Kit.


Package: python3-pitop-robotics
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - Robotics
 Python library for creating and controlling pi-top based robots.
 .
 The utilities included in this library are meant to be used by robots
 created using the pi-top Robotics Kit.


Package: python3-pitop-system
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Required for hub communication; such as getting case button state
 pi-topd | pt-device-manager,
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - System
 Python library for interacting with a pi-top hub and other peripherals.
 .
 Provides utilities to interact with a pi-top hub and other peripherals
 that can be attached to a device.


Package: python3-pitop-virtual-hardware
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Required for hub communication; such as getting case button state
 pi-topd | pt-device-manager,
Replaces:
 python3-pitop (<= 0.25.0-1)
Breaks:
 python3-pitop (<= 0.25.0-1)
Description: pi-top Python 3 Library - System
 Python library for visualising and mocking pi-top hardware.
 .
 Provides a utility to visualise real, or interatively simulate mock
 pi-top components with a pygame-based GUI.
