Source: py-pitop-sdk
Section: python
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 dh-sequence-sphinxdoc,
# Required by pybuild
 dh-python,
 python3-all-dev,
 python3-setuptools,
 python3-sphinx-rtd-theme,
# GPIO Zero is required for importing the libraries in the docs
 python3-gpiozero,
Standards-Version: 4.5.1
Homepage: https://pi-top.com

Package: python3-pitop-full
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# Emojis used in emotion recipe
 fonts-symbola,
 python3-onnxruntime,
 python3-pitop (= ${binary:Version}),
 libopenblas-dev,
# Required for face detection & emotion mapping
 liblapack-dev,
 libatlas-base-dev,
Recommends:
 python3-pitop-doc (= ${source:Version}),
Description: pi-top Python 3 Library - Complete
 General purpose Python library for controlling a pi-top.
 .
 This is a top-level dummy package which will install all of the required
 components for full pi-top support.

Package: python3-pitop
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 alsa-utils,
# 'arping' command
 arping,
# Miniscreen fonts
 fonts-roboto,
 ttf-bitstream-vera,
 i2c-tools,
# 'ping' command
 iputils-ping,
# Required for hub communication; such as getting case button state
 pt-device-manager,
# ZMQ for messaging
 python3-zmq,
 raspi-config,
Suggests:
# Required for OS notifications
 notify-send-ng,
# pi-top [4] miniscreen menu is optional, but useful for [4] users
 pt-miniscreen | pt-sys-oled,
# Required to get state about Access Point mode
 wifi-ap-sta,
# Other SDK packages
 python3-pitop-doc (= ${source:Version}),
 python3-pitop-full,
Description: pi-top Python 3 Library - Main
 General purpose Python library for controlling a pi-top.
 .
 This is the main Python library part of the package.

Package: python3-pitop-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Built-Using:
 ${sphinxdoc:Built-Using},
Description: pi-top Python 3 Library - Documentation
 General purpose Python library for controlling a pi-top.
 .
 This is the documentation part of the package.
