#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk
ifneq ($(DEB_BUILD_MULTIARCH),$(DEB_HOST_MULTIARCH))
  SET_CROSS_ENV = PYTHONPATH=/usr/lib/python$$pv/plat-$(DEB_HOST_MULTIARCH)

  # FIXME: is this sufficient?
  SET_CROSS_ENV += _PYTHON_HOST_PLATFORM=$(DEB_HOST_GNU_CPU)
endif

export PYBUILD_NAME=pitop

%:
	dh $@ --with=sphinxdoc --buildsystem=pybuild

override_dh_auto_test:
	# Don't run the tests!

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -v -bhtml docs/ build/html
	# PYTHONPATH=. sphinx-build -v -bman  docs/ build/man
