#!/usr/bin/make -f

export PYBUILD_NAME=pitop

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	# Don't run the tests!

override_dh_auto_build:
	dh_auto_build
	# Fail on warnings; make verbose
	PYTHONPATH=. sphinx-build -W -v -bhtml docs/ build/html
	PYTHONPATH=. sphinx-build -W -v -bman  docs/ build/man
