#!/usr/bin/make -f

export PYBUILD_NAME=ptpma

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	# Don't run the tests!

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -N -bhtml docs/ build/html
	PYTHONPATH=. sphinx-build -N -bman  docs/ build/man
