name: Build ARM Debian Packages

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      - name: GitHub Environment Variables Action
        uses: FranzDiebold/github-env-vars-action@v1.2.1

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build 32-bit and 64-bit Debian packages
        uses: pi-top/action-debian-package@feature/failOnLintianFailure
        with:
          source_directory: "./"
          artifacts_directory: "./artifacts"
          target_architectures: "armhf,arm64"
          dpkg_buildpackage_opts: "--no-sign --no-check-builddeps --post-clean"
          lintian_opts: "--dont-check-part nmu --no-tag-display-limit --display-info --show-overrides --fail-on warning,error"
          get_dev_packages_from_backports: "1"
          _uses_pybuild: "1"

      - name: Upload Debian package artifacts
        uses: "actions/upload-artifact@v2"
        with:
          name: "${{ env.GITHUB_REPOSITORY_NAME }}-#${{ env.GITHUB_SHA_SHORT }}-deb"
          path: "${{ github.workspace }}/artifacts"
