name: Create/Update Changelog PR on Commits to 'master'

on:
  push:
    branches: [ "master" ]

jobs:
  create-pr:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Set up Debian Docker container for changelog patching
        run: |
          docker create --name chglog --volume ${{ github.workspace }}:${{ github.workspace }} --workdir ${{ github.workspace }}/ --tty pitop/gbp-dch-gen:latest sleep inf
          docker start chglog
          docker exec chglog git config --global user.name "pi-top"
          docker exec chglog git config --global user.email "deb-maintainers@pi-top.com"

      # General settings:
      #     Use git information, not system information
      #     Ignore branch in case of debugging

      # Bump changelog to latest snapshot, as with CI builds
      - name: Patch changelog (snapshot)
        run: |
          tag=$(git tag -l v* | sort -V | tail -n1)
          commit=$(git show-ref -s ${tag})
          commit_diff=$(git rev-list --count ${commit}..HEAD)

          echo "Tag: $tag"
          echo "Commit: $commit"
          echo "Diff: $commit_diff"
          echo "SHA: ${{ env.GITHUB_SHA }}"

          docker exec chglog gbp dch --verbose --git-author --ignore-branch --snapshot \
            --since=${commit} --snapshot-number=${commit_diff}

      - name: Show updated changelog
        run: |
          cat debian/changelog

      # Then squash into one release
      #   '--spawn-editor=snapshot' = don't try to open text editor
      - name: Patch changelog (release)
        run: |
          docker exec chglog gbp dch --verbose --git-author --ignore-branch --release \
            --distribution=buster --spawn-editor=snapshot

      - name: Show updated changelog
        run: |
          cat debian/changelog

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update debian/changelog
          title: Update debian/changelog for next release
          body: Automated changelog change proposing changelog for next version. Make changes here, as necessary, then merge to create a new version tag and draft GitHub Release!
          branch: release-updated-changelog
