name: Deploy Published Release

on:
  push:
    branches: [ "ci-test-publish-release-*" ]
  release:
    types: [published]

jobs:
  add-stable-tag:
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          ref: ${{ env.GITHUB_SHA }}

      - name: Tag release commit as 'stable' for ReadTheDocs
        uses: rickstaa/action-create-tag@v1
        with:
          tag: "stable"
          force_push_tag: true

  deploy-release:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          ref: ${{ env.GITHUB_SHA }}

      - name: Upload to PyPI
        uses: casperdcl/deploy-pypi@v2
        with:
          username: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          build: true
          upload: github.event_name == 'release' && github.event.action == 'published'
