name: Deploy Published Python Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  deploy-python-release:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          ref: ${{ github.sha }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install setuptools wheel twine

      - name: Get version from changelog and set package version env variable
        run: |
          set -x
          sudo apt install -y --no-install-recommends dpkg-dev
          changelog_version=$(dpkg-parsechangelog -Sversion)
          echo "PYTHON_PACKAGE_VERSION=${changelog_version}" >> $GITHUB_ENV

      - name: Build and upload to PyPI
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        run: |
          for subpackage_folder in packages/* ; do
            cd $subpackage_folder
            python3 setup.py sdist bdist_wheel
            python3 -m twine upload dist/* || true
            cd -
          done
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
