name: Run Tests and Upload Coverage Report

on: push

jobs:
  test-and-upload-coverage-report:
   runs-on: ubuntu-20.04
   steps:
     - name: Checkout code
       uses: actions/checkout@v2.4.0

     - name: Install apt dependencies
       run: |
         sudo apt update
         DEBIAN_FRONTEND=noninteractive sudo apt install cmake python3-opencv -y

     - name: Setup Python
       uses: actions/setup-python@v3.0.0
       with:
         python-version: 3.9
         cache: 'pip'
         cache-dependency-path: 'tests/requirements.txt'

     - name: Get pip cache dir
       id: pip-cache
       run: |
         echo "::set-output name=dir::$(pip cache dir)"

     - name: Cache python downloaded dependencies
       id: cache-python-downloaded-deps
       uses: actions/cache@v3
       env:
         cache-name: cache-python-downloaded-dependencies
       with:
         path: ${{ steps.pip-cache.outputs.dir }}
         key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
         restore-keys: |
           ${{ runner.os }}-pip-
           ${{ runner.os }}-

     - name: Cache python built dependencies
       id: cache-python-built-deps
       uses: actions/cache@v3
       env:
         cache-name: cache-python-built-dependencies
       with:
         path: ${{ env.pythonLocation }}/lib/python3.9/site-packages/
         key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
         restore-keys: |
           ${{ runner.os }}-pip-
           ${{ runner.os }}-

     - name: Cache shape predictors
       id: cache-sdk-shape-predictors
       uses: actions/cache@v3
       env:
         cache-name: cache-sdk-shape-predictors
       with:
         path: ~/.config/pi-top/sdk/models/
         key: ${{ runner.os }}-sdk-shape-predictors-${{ hashFiles('~/.config/pi-top/sdk/models/**') }}
         restore-keys: |
           ${{ runner.os }}-sdk-shape-predictors-

     - name: Install pip dependencies
       run: pip3 install -r tests/requirements.txt

     - name: Run Python tests and generate coverage report
       run: |
         sudo apt-get install -y xvfb
         export DISPLAY=:0
         sudo Xvfb -ac :0 -screen 0 1280x1024x24 > /dev/null 2>&1 &
         python3 -m pytest --verbose

     - name: Upload Python test coverage reports to Codecov
       uses: codecov/codecov-action@v2.1.0
       with:
         files: ./coverage.xml
         flags: unittests
         env_vars: OS,PYTHON
         fail_ci_if_error: true
         verbose: true
